apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: issue-tracker
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # Image will be set/updated by GitHub Actions via kubectl set image
          image: 123456789012.dkr.ecr.ap-south-1.amazonaws.com/issue-tracker-backend:latest
          ports:
            - containerPort: 4000
          env:
            - name: PORT
              value: "4000"
            - name: MONGO_URI
              value: "mongodb://mongo:27017/issue_tracker"
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: issue-tracker
spec:
  selector:
    app: backend
  ports:
    - port: 4000
      targetPort: 4000
  type: ClusterIP
